<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-row>

      <ion-col>
        <img src="/assets/logo.png" alt="" style="width: 50px; height: 50px;">
      </ion-col>
      <ion-col class="nose">
        
        <ion-title class="island-moments" style="font-size: 3rem;">user.name</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar color="tertiary">

    <ion-row class="rita">
      <ion-col>recetas guardadas</ion-col>
      <ion-col>tus recetas</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">



 
</ion-content>