.trend-title {
    font-family: 'Island Moments', cursive; 
    font-size: 48px;
    font-weight: 400;
    line-height: 55.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin: 20px 0 10px 10px; /* Ajusta los márgenes para separación */
  }