<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-grid>
      <ion-row>

        <ion-col>
          <img src="/assets/logo.png" alt="" style="width: 50px; height: 50px;">
        </ion-col>
        <ion-col>
          <ion-title class="island-moments">

            Sweet Fantasy
          </ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <!-- <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title size="large" >Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card *ngFor="let item of receta" color="secondary">
    <img alt="Silhouette of mountains" src="{{item.imagen}}" />
    <ion-card-header>
      <ion-card-title>{{item.nombre}}</ion-card-title>
      <ion-card-subtitle>{{item.categoria}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{item.descripcion}}
    </ion-card-content>
    <ion-button (click)="verDetalle(item.id)">Ver Detalle</ion-button>
  </ion-card>

</ion-content>