<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad nobis, minus vel iure eius dolores aperiam deserunt doloribus quod, vitae amet eum totam fuga, in alias. Dolore corrupti sapiente numquam.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <!-- <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title size="large" >Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <ion-card *ngFor="let item of receta" color="secondary">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card> 
    
</ion-content>
