<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="data.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>descripcion</ion-label>
    <ion-input [(ngModel)]="data.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Instrucciones de preparado</ion-label>
    <ion-input [(ngModel)]="data.instrucciones"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tiempo de preparacion</ion-label>
    <ion-input [(ngModel)]="data.preparacion"></ion-input>
  </ion-item>

<label for="imagen">Imagen</label>
<input type="image" src="" alt="">
  <ion-button (click)="crearElemento()">añadir Receta</ion-button>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>